@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height: 4rem;
    background-color: #22282A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 4rem;
    border-bottom: 1px solid #646D61;
    position: fixed;
    top: 0;
    z-index: 100;
}

.contentNav{
    display: flex;
    align-items: center;
    gap: 4rem;
    color: white;
    font-family: "Poppins", sans-serif;
}

.contentNav h1{
    font-family: "DM Serif Display", serif;
}

.Menu {
    display: flex;
    gap: 2rem;
    list-style: none;
}   

.Menu a{
    text-decoration: none;
    color: white;
}   

.Menu li:hover{
    transform: translateY(-4px);
    transition: all 0.2s ease-in-out;
}   

.btns-nav{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.btns-nav a{
    text-decoration: none;
}

.btnRegister{
    background-color: #22282A;
    color: white;
    border: 2px solid white;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
}

.btnLogin{
    all: unset;
    background-color: #22282A;
    color: white;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

/*Primera sección de la página ======== INICIO*/

.section-1{
    width: 100%;
    margin-top: 2rem;
    height: 90vh;
    background: #6CC1C5;
    background: radial-gradient(circle at bottom right,rgba(108, 193, 197, 1) 0%, rgba(34, 40, 42, 1) 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form-1{
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
}

.form-2{
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.grid-content{
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    color: white;
}

.text-cont {
    font-family: "Poppins", serif;
}

.text-cont h1{
    font-family: "DM Serif Display", serif;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    line-height: 3rem;
    font-weight: 400;
}

.content-section-1{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.img-section-1 {
    width: 650px;
    display: flex;
    justify-content: start;
}

.btn-start{
    all: unset;
    background-color: #E96324;
    color: white;
    padding: 0.5rem 4rem;
    border-radius: 10px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;   
    cursor: pointer;
    font-size: 1.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 1rem;
}

.btn-start:hover{
    background-color: #9e2611;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    transform: translateY(-4px);
    transition: all 0.1s ease-in-out;
}

.btn-start:active{
    background-color: #3f1008;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    transform: translateY(4px);
    transition: all 0.1s ease-in-out;
}

.section-2{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/Assets/fondoArtesania2.jpg);
    background-size: cover;
    background-position: center;
    filter:saturate(0);
}

.quien-somos{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.title-section2{
    color: white;
}

.title-section2 h1{
    font-family: "Dm Serif Display", serif;
    font-size: 3rem;
    font-weight: 400;
    background-color: #000000;
    display: inline-block;
    padding: 5px 1rem;
}

.title-section2 p{
    font-family: "Poppins", serif;
    margin-top: 10px;
    background-color: #000000;
    display: inline-block;
    padding: 5px 1rem;
}

.section-video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 45vh;
    gap: 4rem;
}

.cont-video{
    width: 50%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: grid;
}

.cont-video video{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.section-info{
    width: 30%;
    height: 100%;
    background: #262626;
    background: linear-gradient(180deg,rgba(38, 38, 38, 1) 44%, rgba(181, 181, 181, 0) 100%);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    gap: 10px;
    color: white;
    padding: 2rem;
}

.section-info h2{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 2rem;
}

.section-info p{
    font-family: "Poppins", serif;
}

/*=====SECCIÓN 3*/

.section-3{
    height: 50vh;
    background: #646D61;
    background: radial-gradient(ellipse at top center,rgba(100, 109, 97, 1) 0%, rgba(34, 40, 42, 1) 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #818181;
}

.header-text{
    text-align: center;
      color: white;
      margin-bottom: 2rem;
      font-family: "Poppins";
}

.header-text h2{
    font-family: "DM Serif Display", serif;
    font-size: 2.5rem;
    font-weight: 400;
}

.carrousel{
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
}

.card-1{
    width: 250px;
    height: 100%;
    background-color: #e4e4e4;
    border-radius: 10px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 1rem;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.2rem;
}

.img-card{
    width: 100%;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.img-card img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

/*=====SECCIÓN 4===========*/
.section-4{
    height: 100vh;
    background-color: #22282A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px dashed #646D61;
}

.cont-business{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.info-business{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    color: white;
    font-family: "poppins";
}

.info-business h2{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 2.5rem;
}

.back-card{
    width: 33rem;
    transform: rotate(-8deg);
    height: 60vh;
    background-color: #e4e4e4;
    border-radius: 10px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.front-card{
    position: relative;
    width: 33rem;
    height: 60vh;
    background-color: #e4e4e4;
    border-radius: 10px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
    padding: 2rem;
    font-family: "poppins";
}

.front-card h1{
    font-family: "Dm Serif Display";
    font-weight: 500;
    font-size: 2.5rem;
    margin-top: 10px;
}

.front-card img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.valores{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.v-1{
    color: #000000;
    background-color: #CAD41D;
    padding: 2px 1.5rem;
    border-radius: 30px;
    cursor: pointer;
}

.v-1:hover{
    transform: translateY(-4px);
    transition: all 0.1s ease-in-out;
}

/*======CONT OFERTAS======*/

.section-5{
    height: 60vh;
    background: #22282A;
    background: linear-gradient(180deg,#22282A 20%, #191D1E 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.fig-1{
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 0;
    left: 0;
    transform: rotate(-90deg);
}

.fig-2{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    right: 0;
    transform: rotate(-90deg);
}

.cont-ofertas{
    width: 70%;
    height: 70%;
    border: 1px solid #646D61;
    position: relative;
    display: grid;
    grid-template-columns: 60% 40%;
    overflow: hidden;
    border-radius: 20px;
    background: #EAFF59;
    background: radial-gradient(circle at bottom right,rgba(234, 255, 89, 1) 0%, rgba(34, 40, 42, 1) 35%);
}
.items-w{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-oferta{
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    color: white;
    text-align: center;
    font-family: "Poppins", serif;
    padding: 2rem;
}

.text-oferta p{
    font-size: 1.2rem;
    font-weight: 200;
    margin-bottom: 1rem;
}

.text-oferta h1{
    line-height: 2.5rem;
    font-size: 2.5rem;
}


.text-oferta button{
    all: unset;
    background-color: #d4d4d4;
    color: rgb(0, 0, 0);
    padding: 1rem 6rem;
    border-radius: 10px;
    font-weight: 400;   
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cont-ofertas img{
    position: absolute;
    right: -50px;
    top: -40px;
    width: 500px;
}